# Node.js
node_modules/

# Production build
/.next/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor-specific files
.vscode/
.idea/

# Log files
*.log

# Build output
/out/
